<p>Dear Highness,</p>
<br />
<b>Please verify your account.</b>
<br />
<p>Thanks for becoming a part of Wordking world. Hope you really enjoy it. To get started straight away we need you to verify your email address. Just click on the link below or paste it into your lovely browser.</p>

<p><a href="<%= activateLink %>"><%= activateLink %></a></p>

<p>We so much love feedback so don't hesitate to contact us if you have any. ( personal affairs are also welcome.</p>

<p>
  Yours, <br />
  Also a king
</p>